name: Compilar para Mac Intel
on: [workflow_dispatch]

jobs:
  build-macos:
    runs-on: macos-latest
    
    steps:
      - name: Instalar herramientas de compilación
        run: |
          brew update
          brew install cmake ninja pkg-config qt6 sdl2 libpng jpeg-turbo libusb

      - name: Clonar el código desde Codeberg
        run: |
          git clone --recursive https://codeberg.org/javiercplus/mcpelauncher-client-extend.git mcpelauncher

      - name: Configurar Compilación (CMake)
        run: |
          cd mcpelauncher
          mkdir build && cd build
          cmake .. -GNinja \
            -DCMAKE_BUILD_TYPE=Release \
            -DENABLE_DEV_INSTALL=ON \
            -DCMAKE_POLICY_VERSION_MINIMUM=3.5 \
            -DCMAKE_PREFIX_PATH=$(brew --prefix qt6)

      - name: Compilar
        run: |
          cd mcpelauncher/build
          ninja

      - name: Organizar archivos finales
        run: |
          mkdir -p final_output
          # Buscamos el binario principal y lo movemos a la carpeta de salida
          find mcpelauncher/build -name "mcpelauncher-client" -exec cp {} final_output/ \;
          # Buscamos si se creó una aplicación .app y la copiamos
          find mcpelauncher/build -name "*.app" -exec cp -r {} final_output/ \;

      - name: Publicar Archivo
        uses: actions/upload-artifact@v4
        with:
          name: Minecraft-Mac-Intel
          path: final_output/
          if-no-files-found: error
